:root {
  background-color: black;
}
/* #root {
  height: 100vh;
  background-color: rgb(71, 71, 71);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.month-title {
  text-align: left;
  margin-bottom: 40px;
}

.page {
  color: rgba(255, 255, 255, 0.788);
  font-family: "mytype";
  font-weight: 100;
  align-self: center;
  padding-left: 4%;
  width: 1000px;
  height: 100%;
}

.dates {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.day {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 2px 2px 5px #6b586b, -2px -2px 5px #6b586b;
  height: 100px;
  width: 123px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.651);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 30% 70%;
}

.day:hover {
  background-color: #16121698;
}

.date-title {
  grid-column: 2 / span 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.day p {
  cursor: pointer;
  line-height: 12px;
  font-size: 12px;
  text-align: start;
  padding-top: 5px;
  padding-left: 5px;
  margin: 0;
  grid-column: 1 / span 3;
  grid-row: 2;
  height: 100%;
  overflow: scroll;
  height: max-content;
}

.addEventPopup {
  z-index: 10;
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  padding-bottom: 20px;
  height: max-content;
  width: max-content;
  border: 1px solid #6b586bde;
  border-radius: 5px;
  background-color: #1a1718ef;
}
button, input, optgroup, select, textarea{
    color: white;
}

.addbtn{
    background-color: rgba(255, 255, 255, 0.829);
    color: black !important;
}

.form-group {
  display: flex;
  flex-direction: row;
}

select {
  font-size: 13px !important;
  color: rgba(255, 255, 255, 0.884) !important;
  background-color: rgba(0, 0, 0, 0) !important;
  width: 40px !important;
  height: 25px !important;
}

button:focus {
  outline: none;
}

.eventPopup {
  padding: 10px;
  z-index: 10;
  grid-column: 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  height: 200px;
  width: 300px;
  border: 1px solid #6b586bde;
  border-radius: 5px;
  background-color: #1a1718ef;
}

.eventInfo {
  font-size: 13px;
  text-align: start;
}

.eventTitle {
  cursor: pointer;
}

.eventMadeBy {
  font-size: 10px;
}

.icon {
  margin-top: 5px;
  cursor: pointer;
  -webkit-filter: brightness(0.8);
  height: 15px;
  width: 15px;
}

@font-face {
  font-family: "mytype";
  src: url("./rough_typewriter.otf") format("truetype");
}
