.App {
    /* url uses relative path */
  background-image: url("/a-d2iXz0AdlGA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
}

/* 
@font-face {
  font-family: "mytype";
  src: url("./rough_typewriter.otf") format("truetype");
} */